# Feature Extraction

## Enviroment Setup

In [ ]:
%pip install pandas numpy requests Pillow dotenv

In [2]:
import pandas as pd
import numpy as np
import requests
from PIL import Image
from io import BytesIO
import os
import re
from typing import Optional
import time
from dotenv import load_dotenv

## Load Processed Dataset

In [3]:
train = pd.read_csv('data/train_complete.csv')
test = pd.read_csv('data/test_complete.csv')

print(train.head())
print(test.head())

   movieId                             title          genres   imdbId  tmdbId  \
0      619                         Ed (1996)          Comedy   116165   32308
1    33826                Saint Ralph (2004)    Comedy|Drama   384488   25248
2     1298       Pink Floyd: The Wall (1982)   Drama|Musical    84503   12104
3   140289              Men & Chicken (2015)    Comedy|Drama  3877674  296313
4     3064  Poison Ivy: New Seduction (1997)  Drama|Thriller   119908   18222

   year                                         poster_url
0  1996  https://image.tmdb.org/t/p/w500/oSNX3zyTpRMN0E...
1  2004  https://image.tmdb.org/t/p/w500/3MdWgqUunIBWnc...
2  1982  https://image.tmdb.org/t/p/w500/aElHyIdF5jmctF...
3  2015  https://image.tmdb.org/t/p/w500/6lZ1EjOoWJiZaG...
4  1997  https://image.tmdb.org/t/p/w500/l9Z43sz0qjTrmD...
   movieId                                   title  \
0    45635       Notorious Bettie Page, The (2005)
1     1373  Star Trek V: The Final Frontier (1989)
2     7325                  Starsky & Hutch (2004)
3      389              Colonel Chabert, Le (1994)
4     8920                Country Girl, The (1954)

                         genres  imdbId  tmdbId  year  \
0                         Drama  404802   15402  2005
1                 Action|Sci-Fi   98382     172  1989
2  Action|Comedy|Crime|Thriller  335438    9384  2004
3             Drama|Romance|War  109454   41580  1994
4                         Drama   46874    2438  1954

                                          poster_url
0  https://image.tmdb.org/t/p/w500/jRzcb9O8WdGmJd...
1  https://image.tmdb.org/t/p/w500/uiXr41VLYsuug3...
2  https://image.tmdb.org/t/p/w500/fmBYVkBjhVspPv...
3  https://image.tmdb.org/t/p/w500/Usaduh828gtYe6...
4  https://image.tmdb.org/t/p/w500/7LdXybdZcTdZo7...